<a href="https://colab.research.google.com/github/WESTZERO115/childmeal/blob/main/EATMEAL_to_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 755 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pymysql

In [19]:
#테이블 생성
conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                        port=3306,
                        user='admin',
                        password='swusw2022',
                        db='capstonedesign',
                        charset='utf8')
cursor=conn.cursor()
#sql="CREATE TABLE EATMEAL(ChildInfo BIGINT NOT NULL,food_menu VARCHAR(10));"
sql="ALTER TABLE EATMEAL  FOREIGN KEY(ChildInfo) REFERENCES CHILD(CardNum);"
cursor.execute(sql) #SQL수행
conn.commit()
conn.close()

In [ ]:
def mysql_save(food_list):
    conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                        port=3306,
                        user='admin',
                        password='swusw2022',
                        db='capstonedesign',
                        charset='utf8')
    cursor=conn.cursor()
    
    # 데이터 삽입
    sql = "INSERT INTO CURRENT_MEAL(ChildInfo,food_menu,food_kcal,food_protein,food_fat,food_carbohyd,food_natrium) VALUES (%s,%s,%s,%s,%s,%s,%s);"
    cursor.executemany(sql,food_list)
    conn.commit()
    conn.close()
mysql_save(food_list)