<a href="https://colab.research.google.com/github/WESTZERO115/childmeal/blob/main/storeList_to_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.2 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql

In [4]:
df = pd.read_excel("/content/급식카드 가맹점 현황.xlsx")

In [5]:
df.head()

,순번,가맹점명,주소
0,1,(본)동태마을,경기 남양주시 진접읍 해밀예당1로235번길 11 1층
1,2,(유)아웃백스테이크하우스남양주현대아울렛,경기 남양주시 다산순환로 50 현대프리미엄아울렛 SPACE 1-A359호 (다산동)
2,3,"(주)굳밥(Good bob F&B Co.,Ltd.)",경기 남양주시 진접읍 봉현로36번길 12
3,4,(주)다산제빵소,"경기 남양주시 다산중앙로 153 주상-1블록 상업시설 223호 (다산동, 다산자이아..."
4,5,(주)다이노에프에스 덕소,"경기 남양주시 와부읍 수레로 60-7 ,101,102,103호(훼밀리프라자)"

In [6]:
#테이블 생성
conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                        port=3306,
                        user='admin',
                        password='swusw2022',
                        db='capstonedesign',
                        charset='utf8')
cursor=conn.cursor()
sql= "CREATE TABLE STORELIST(store_num INT NOT NULL, store_name VARCHAR(10) NOT NULL, store_address VARCHAR(30), CONSTRAINT STORELIST_PK PRIMARY KEY (store_num));" #DB생성
cursor.execute(sql) #SQL수행
conn.commit()
conn.close()

In [7]:
conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                     port=3306,
                     user='admin',
                     password='swusw2022',
                     db='capstonedesign',
                     charset='utf8')
cursor=conn.cursor()
    
# 데이터 삽입
sql = "INSERT INTO STORELIST(store_num,store_name, store_address) VALUES (%s,%s,%s);"

for idx in range(len(df)):
  cursor.execute(sql, tuple(df.values[idx]))


conn.commit()
conn.close()